@import '_base.styl'

.panel .tree,
.panel .tree ul
  background-image none
  background-color dark-blue

.panel .tree ul li
  &:hover
    background-color green
    h1
      color white
    i
      color darken(green, 50%)

.panel .tree ul li h1 i
  color lighten(dark-blue, 30%)

.panel .tree ul li.current
  background-color green
  &:hover
    background green

.panel .tree li
  display block
  padding 8px 0
  height auto

.panel .tree ul li.current h1
  background-color green
  color white

.panel .tree ul li h1
  margin-bottom 0
  color green

.panel .tree li .content
  padding-top 0
  height auto

.panel .header
  background-color darken(dark-blue, 10%)
  border none
  padding 12px 0
  height 46px

.panel .header table input
  -webkit-appearance none
  padding 10px 0 10px 20px
  border none
  background-color lighten(dark-blue, 10%)
  border-radius 18px
  pading
  &:focus
    outline none

.panel .result,
.panel .tree
  top 70px

p, ul li, blockquote
  font-family 'clear_sansregular'
  font-size 14px
  color lighten(dark-blue, 20%)
  line-height 20px
